*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 1.5rem;
}

body,
input,
textarea,
button {
  font-size: var(--font-size);
  font-family: var(--font);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

h1,
h2,
h3,
p,
ul {
  margin: 1rem 0;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input,
textarea {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.75rem;
  border-radius: var(--radius);
  background: #eee;
  transition: 0.2s;
}

input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin: 0 0.5rem 0 0;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color);
  background: white;
  box-shadow: 0 0 0 3px var(--color-light);
}

hr {
  border: 2px solid #eee;
  margin: 2rem auto;
}

video,
img {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
  gap: 1rem;
}
